## ******************************************************************************
## This source code is licensed under the MIT license found in the
## LICENSE file in the root directory of this source tree.
##
## Copyright (c) 2024 Georgia Institute of Technology
## ******************************************************************************
---
# TACOS uses LLVM style by default (https://llvm.org/docs/CodingStandards.html)
BasedOnStyle: LLVM

# Indentations and spaces
IndentWidth: 4
UseTab: Never
SpacesBeforeTrailingComments: 2

# Line and column setups
ColumnLimit: 80
InsertNewlineAtEOF: true
PenaltyReturnTypeOnItsOwnLine: 2000000
PackConstructorInitializers: CurrentLine
BinPackParameters: false

# Pointer alignment
PointerAlignment: Left

# Braces
InsertBraces: true
AllowShortFunctionsOnASingleLine: Empty
---
