[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/network_backend/analytical"]
	path = extern/network_backend/analytical
	url = https://github.com/astra-sim/analytical.git
[submodule "extern/network_backend/garnet/gem5_astra"]
	path = extern/network_backend/garnet/gem5_astra
	url = https://github.com/georgia-tech-synergy-lab/gem5_astra.git
[submodule "extern/compute/SCALE-Sim"]
	path = extern/compute/SCALE-Sim
	url = https://github.com/scalesim-project/scale-sim-v2.git
[submodule "extern/network_backend/ns3-interface"]
	path = extern/network_backend/ns3-interface
	url = https://github.com/astra-sim/astra-network-ns3.git
