# macOS
.DS_Store
._*

# CMake
cmake-build-debug/

# Analytical Model build and result files
build/astra_analytical/build/
build/astra_analytical/result/

# Example results file
examples/results/
!examples/results/README.md

# JetBrains
.idea/
.DS_Store
