name: Clang Format Full Tree
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: DoozyX/clang-format-lint-action@v0.11
      with:
        source: '.'
        exclude: './extern'
        extensions: 'hh,cc'
        clangFormatVersion: 11
        style: file
