name: Clang-tidy Review for Pull Request

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: ZedThree/clang-tidy-review@v0.2.0
      id: review
      exclude: "extern"
    # If there are any comments, fail the check
    - if: steps.review.outpus.total_comments > 0
      run: exit 1
